
#####################################################################
#      Notes
#####################################################################
## Please add [include SHT36V3.cfg] under printer.cfg
## The tool plate will use the following configurations, 
## and if the following configurations are used in other configurations, conflicts may occur.
## [resonance_tester] && [extruder] && [tmc2209 extruder] && [fan] && [heater_fan my_hotend_fan]
## [probe] && [bltouch] && [stepper_x]


#####################################################################
#      Temperature monitoring
#####################################################################
[temperature_sensor SHT36]
sensor_type: temperature_mcu
sensor_mcu: SHT36

#####################################################################
#      Accelerometer
#####################################################################
## https://www.klipper3d.org/Measuring_Resonances.html?h=adxl#adxl345
# [lis2dw]
# cs_pin: SHT36:gpio12
# spi_bus:spi0_gpio4_gpio3_gpio2
#--------------------------------------------------------------------



#####################################################################
#      Extruder thermal sensitivity
#####################################################################
## Please select the type of thermocouple you want to use.
[extruder]
## Type of sensor - common thermistors are (Generic 3950, ATC Semitec 104GT-2)
# sensor_type: PT1000
# sensor_pin: SHT36:gpio27

###------------------------------------------------------------------
## If using PT1000, please connect the jumper next to the thermal sensitivity.
# sensor_type:PT1000
# sensor_pin:SHT36:gpio27
#pullup_resistor: 1000
###------------------------------------------------------------------
## Using MAX31865 to connect PT100 or PT1000
sensor_type: MAX31865
sensor_pin: SHT36:gpio17
spi_bus:spi0_gpio4_gpio3_gpio2
rtd_reference_r: 4300  ## Set to 430 for PT100, 4300 for PT1000
rtd_nominal_r: 1000  ## Set to 100 for PT100, 1000 for PT1000
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True 
rtd_num_of_wires: 2



# sensor_type: MAX31865
# sensor_pin: EBBCan:gpio9
# spi_software_sclk_pin: EBBCan:gpio10
# spi_software_mosi_pin: EBBCan:gpio8
# spi_software_miso_pin: EBBCan:gpio11
# rtd_nominal_r: 1000
# rtd_reference_r: 4300
# rtd_num_of_wires: 2
# rtd_use_50Hz_filter: True
#control = pid
# min_temp: 10
# max_temp: 300
# max_power: 1.0


#####################################################################
#      extruder
#####################################################################
## https://www.klipper3d.org/Config_Reference.html#extruder
[extruder]
step_pin:SHT36:gpio7
dir_pin:SHT36:gpio6
enable_pin: !SHT36:gpio14
rotation_distance: 47.796674
## rotation_distance = The original rotation_distance multiplied by the actual extrusion length divided by the requested extrusion length.
## Calibration: 22.44 = old value 22 * actual value 102 / target value 100
gear_ratio: 9:1 
## Gear ratio (Galileo 7.5:1 and comment this line; BMG is 50:17, output shaft front, input shaft rear)
microsteps:16
full_steps_per_rotation: 200   
nozzle_diameter:0.400
filament_diameter:1.75
heater_pin:SHT36:gpio23
min_temp:-200
max_temp:350
max_power:1.0
min_extrude_temp:170
pressure_advance: 0.045
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 10
max_extrude_only_velocity: 45
max_extrude_only_distance: 140
max_extrude_only_distance: 200.0 



###------------------------------------------------------------------
[tmc2209 extruder]
uart_pin:SHT36:gpio15
interpolate:False
run_current: 0.6
sense_resistor:0.110
stealthchop_threshold:0
###------------------------------------------------------------------
[verify_heater extruder]
max_error: 20
check_gain_time:120
hysteresis: 50
heating_gain: 2

#####################################################################
#      FAN
#####################################################################
[fan]
pin:SHT36:gpio13
###------------------------------------------------------------------
[heater_fan hotend_fan]
pin: SHT36:gpio21
heater: extruder
heater_temp:50.0
tachometer_pin: ^SHT36:gpio16





